body {
  color: #222;
  font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

#wrapper {
  max-width: 600px;
  margin: 0 auto;
}

/* */

a,
a:link,
a:visited {
  color: rgb(244,115,33);
}

a:hover {
  color: rgb(0,80,48);
}

h2 {
  color: rgb(0,80,48);
  border-bottom: 1px dotted rgb(0,80,48);
}

ul {
  padding-left: 0;
}

li {
  float: left;
  list-style: none;
  background-color: #eee;
  padding: 8px;
  margin-right: 8px;
}

/*
  Another option for styling the list items...

  li {
    display: inline-block;
    background-color: #eee;
    padding: 8px;
    margin-right: 8px;
  }

*/

header {
  background-color: rgb(0,80,48);
  color: #fff;
  padding: 16px;
  position: relative;
  top: 0;
  left: 0;
}

header h1 {
  margin: 0;
}

address {
  position: absolute;
  top: 16px;
  right: 16px;
  text-align: right;
}

address p {
  margin: 0;
}

article {
  background-color: #eee;
  position: relative;
  margin-bottom: 24px;
  padding: 16px;
}

article h3,
article p {
  margin: 0;
}

.grad-date {
  position: absolute;
  top: 16px;
  right: 16px;
}
